body{
    background-color: lightblue;
}

*{
    border: 10px; 
    font-family: Arial;
}

/* 
    4 sections of organizing 
    sharing thi one way of decoration
*/ 
.organize{
    background-color: lightcoral;
    columns: white;
    text-align: center;

    font-size: 10mm;
    font-family: 'Birthstone', cursive;
}

#big_title{
    color: mediumblue;
    background-color: lightcoral;
    text-align: center;
    font-family: 'Akronim', cursive;
    font-size: 3vh;
}

.date{
    color: rgb(255,0,0);
    height: 1cm;
    text-align: left;
}

.time{
    color: #00ff00;
    height: 3vmin;
    text-align: left;
}

.purpose{
    color: hsl(240, 100%, 50%);
    height: 3vmin;
    text-align: left;
}

#note{
    text-align: center;
    color: red;
}

/*
    Brainstorm section 
*/
#brainstorm{
    padding: 20px;

    border-style: dashed;
    border-color: orange; 
    max-width: 80vmax;
    margin: 50px;
    display: block; 
}

.food_choice{
    height: 150px;
    position: static; 
    display: inline-block; 
}

/*
    Veto section
*/
#veto{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: dashed;
    border-bottom: dashed;
    border-left: solid;
    border-right: solid;
    border-radius: 5px;
    border-color: yellowgreen; 
}

#veto_choice{
    display: flex; 
    flex-direction: row;
    align-items:center;
    align-self: stretch;
    gap: 50px; 

    max-width: 80vmax;
}

.person_choice{
    margin: auto;
    display: inline;
}

#reasoning{
    margin: 50px;
    padding: 20px;

    border: 10px; 
    border-top:10px cyan solid;
    border-bottom:10px cyan solid; 
    border-left:10px cyan dashed;
    border-right:10px cyan dashed; 
}

#reason_box{
    display: grid; 
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr; 
    grid-template-columns: [col1] 1fr [col2] 1fr;
}

#item_1{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2; 

    justify-self: left;
}

#item_2{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3; 

    justify-self: left;
}

#item_3{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2; 

    justify-self: left;
}

#item_4{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3; 

    justify-self: left;
}

#item_5{
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 3; 
    grid-row-end: 4; 

    justify-self: center;
}


#Decision{
    margin: 50px;
    padding: 20px;

    border: 10px; 
    border-top:10px blue dotted;
    border-bottom:10px blue  dotted; 
    border-left:10px blue dotted;
    border-right:10px blue  dotted; 

    height: 600px;
}

#decision_text{
    position: static;
    font-size: 25px;
}
#decision_video{
    position: relative;
    top: 40px; 
    left: 20px; 
}

#decision_audio{
    position: relative; 
    top: 80px; 
    right: 10px; 
}

a:hover{
    background-color: gold;
}

a:active{
    background-color:blue;
    color: red;
}

@media screen and (min-width: 20em)  and (max-width: 50em){
    
} 

/*   
    Attribute Selector
*/
img[src]{
    width: 150px;
}

p::first-line{
    font-family: 'Courier New', Courier, monospace;
}

#veto_choice h4 {
    font-family: cursive;
    font-size: 20px;
}

ul > li {
    border-bottom: 2px solid white;
}

h3 + nav {
    background-color: lightpink;
    text-align: left;
    margin: 10px;     
}

p ~ label {
    background-color: beige;
    font-family: Akronim; 
    font-size: 30px;
}